<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Giỏ hàng</title>
    <link rel="stylesheet" href="./gio_hang.css" />
  </head>
  <body>
    <header>
      <div>
        <ul class="tieu_de">
          <li class="khoang_cach">
            <h3>
              Ăn sạch sống khỏe<br />
              <h5><i>Eat Clean Food</i></h5>
            </h3>
          </li>
          <a href="index13.html">
            <li class="icon1">
              <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" />
            </li>
          </a>
          <li class="web">
            <a href="index12.html"> <span>GIỚI THIỆU</span></a>
          </li>
          <li>
            <a href="index12.html"><span>MENU</span></a>
          </li>
          <li>
            <a href="index13.html"> CÔNG CỤ </a>
          </li>
          <li>
            <a href="index13.html"> DỊCH VỤ VẬN CHUYỂN </a>
          </li>
          <li>
            <a href="index13.html"> LIÊN HỆ </a> &nbsp &nbsp &nbsp &nbsp &nbsp
          </li>
          <a href="gio_hang.html">
            <li class="icon2">
              <img
                src="https://media.istockphoto.com/id/639811872/vi/vec-to/bi%E1%BB%83u-t%C6%B0%E1%BB%A3ng-gi%E1%BB%8F-h%C3%A0ng.jpg?s=170667a&w=0&k=20&c=-x6Ppwru9ZmRNHRQqEBjA2RR4sow8hhy21OFmA8Vxr0="
              />
            </li>
          </a>
          <a href="dangnhap.html">
            <li class="icon2">
              <img
                src="https://toppng.com/uploads/preview/black-and-white-stockportable-network-account-icon-11553436383dwuayhjyvo.png"
              />
            </li>
          </a>
          <div>
            <form method="get">
              <input
                class="tim_kiem"
                type="text"
                name="sanpham"
                value=""
                placeholder="Search..."
              />
              <button>
                <img
                  class="icon3"
                  src="https://cdn-icons-png.flaticon.com/512/954/954591.png"
                />
              </button>
            </form>
          </div>
          <br />
        </ul>
      </div>
    </header>
    <nav>
      <div>
        <h2 class="font-family"><b>Thông tin giỏ hàng</b><br />_______</h2>
      </div>
      <div class="voucher">
        <table border="0">
          <tr>
            <td>
              <div class="voucher">
                <img src="https://mgg.vn/s/cat/tong-hop.png" />
              </div>
            </td>
            <td>
              <div class="voucher">
                <p><i>
                  Nhấn vào mục Mã giảm giá ở cuối trang để hưởng miễn phí vận
                  chuyển bạn nhé<i>
                </p>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </nav>
    <br /><br />
    <section>
      <div>
        <table border="1" class="bang">
          <tr>
            <th bgcolor="#D8B4F8" class="stt">STT</th>
            <th bgcolor="#D8B4F8" class="anh">Image</th>
            <th bgcolor="#D8B4F8" class="name">Name</th>
            <th bgcolor="#D8B4F8" class="stt">Quantity</th>
            <th bgcolor="#D8B4F8">Price</th>
            <th bgcolor="#D8B4F8" class="xoa">Action</th>
          </tr>
          <tr>
            <td>&nbsp &nbsp</td>
            <td>
              <div>
                <form method="get">
                  <input name="chon" type="checkbox" value="" />
                </form>
              </div>
            </td>
            <td>&nbsp &nbsp</td>
            <td>
              <div class="buttons_added">
                <input class="minus is-form" type="button" value="-" />
                <input
                  aria-label="quantity"
                  class="input-qty"
                  max="Số tối đa"
                  min="Số tối thiểu"
                  name=""
                  type="number"
                  value=""
                />
                <input class="plus is-form" type="button" value="+" />
              </div>
            </td>
            <td>&nbsp &nbsp</td>
            <td>
              <div>
                <form method="delete">
                  <button>
                    <img
                      class="action"
                      src="https://icon-library.com/images/delete-icon/delete-icon-14.jpg"
                    />
                  </button>
                </form>
              </div>
            </td>
          </tr>
          <tr>
            <td>&nbsp &nbsp</td>
            <td>
              <div>
                <form method="get">
                  <input name="chon" type="checkbox" value="" />
                </form>
              </div>
            </td>
            <td>&nbsp &nbsp</td>
            <td>
              <div class="buttons_added">
                <input class="minus is-form" type="button" value="-" />
                <input
                  aria-label="quantity"
                  class="input-qty"
                  max="Số tối đa"
                  min="Số tối thiểu"
                  name=""
                  type="number"
                  value=""
                />
                <input class="plus is-form" type="button" value="+" />
              </div>
            </td>
            <td>&nbsp &nbsp</td>
            <td>
              <div>
                <form method="delete">
                  <button>
                    <img
                      class="action"
                      src="https://icon-library.com/images/delete-icon/delete-icon-14.jpg"
                    />
                  </button>
                </form>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </section>

    <br><br>
    <br><br>

    <article>
      <div>
        <table class="voucher1">
          <thead>
          <tr class="1">
            <td>
              <div>
                <p>Voucher</p>
              </div>
            </td>
            <td>
              <div class="voucher1">
                <img src="https://mgg.vn/s/cat/tong-hop.png">
              </div>
            </td>
            <td>&nbsp &nbsp &nbsp &nbsp</td>
            <td>
              <div class="voucher1">
                <a href="voucher.html"><i>Chọn hoặc nhập mã</i></a>
              </div>
            </td>
          </tr>
          <tr class="2">
            <td rowspan="2"> 
              <div class="money">Tổng thanh toán: </div>
              <div class="sum_money">đ0 &nbsp &nbsp &nbsp</div>
            </td>
          </tr>
          <tr class="3">
            <td rowspan="2">
              <button class="shopee-button-solid  shopee-button-solid--primary">
                <span class="TTXpRG"><b>Đặt hàng</b></span>
              </button>
            </td> 
          </tr>
        </thead>
        </table>
      </div>
    </article>

    <br /><br />
    <br /><br />

    <aside>

      
    </aside>

    
    <br /><br />
    <br /><br />
    <hr />
    <footer>
      <table border="0" class="cuoi">
        <tr>
          <th>
            &nbsp &nbsp &nbsp &nbsp About &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          </th>
          <th>Contact Us</th>
          <th>Follow Us</th>
        </tr>
        <tr>
          <td>&nbsp &nbsp</td>
          <td>
            <ul>
              <li>Phone: 0935877188</li>
              <li>Email: hihihi@eatCleanFood.com</li>
              <li>Address: 123 hihihi Street, hihihi City, Vietnam</li>
            </ul>
          </td>
          <td>
            <ul>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Google Plus</a></li>
            </ul>
          </td>
        </tr>
      </table>
    </footer>
  </body>
</html>
