<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css"  th:href="@{/static/css/home.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css}">
    <title>EATCLEAN</title>
</head>
<body>
    <section class="page1">
        <nav class="navbar container">
            <a href="#"><img src="/EATCLEAN/src/main/resources/static/img/ho.png" alt=""></a>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About BMI</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="logo">
              <a href="search">Search</a>
              <a href="login">Become A Member</a>
            </div>
        </nav>
        <div class="text container">
            <p>Welcome to </p>
            <h1>EatClean Shop</h1>
            <a href="#" class="btn">learn more</a>
        </div>
    </section>
    <br><br><br>
    <section id="banner" class="banner">
      <div class="banner-content">
        <div class="banner-images">
          <div class="image-container">
            <img class="i1" src="https://media.istockphoto.com/id/1014363970/vi/anh/salad-rau-t%C6%B0%C6%A1i-tr%C3%AAn-n%E1%BB%81n-tr%E1%BA%AFng.jpg?s=2048x2048&w=is&k=20&c=MxNf5hQcIbwrTSma68qMMhuN9sAHW2WIB-0qC7REjn4=" alt="Image 1">
            <img class="i2" src="https://media.istockphoto.com/id/178743400/vi/anh/salad-t%C6%B0%C6%A1i.jpg?s=2048x2048&w=is&k=20&c=OMgtb2K-KloQwpcp4evnQ4XOTNvd7KERpL8x-o910Mk=" alt="Image 2">
            <img class="i3" src="https://media.istockphoto.com/id/537523980/vi/anh/salad-t%C6%B0%C6%A1i-bay-l%C3%AAn.jpg?s=2048x2048&w=is&k=20&c=mgLsAMjyLx4nyZxnUu5TEwILoVs0Gk9uMwuPXJC3i34=" alt="Image 3">
          </div>
          <div class="image-container">
            <img class="i4" src="https://media.istockphoto.com/id/1014363970/vi/anh/salad-rau-t%C6%B0%C6%A1i-tr%C3%AAn-n%E1%BB%81n-tr%E1%BA%AFng.jpg?s=2048x2048&w=is&k=20&c=MxNf5hQcIbwrTSma68qMMhuN9sAHW2WIB-0qC7REjn4=" alt="Image 4">
            <img class="i5" src="https://media.istockphoto.com/id/178743400/vi/anh/salad-t%C6%B0%C6%A1i.jpg?s=2048x2048&w=is&k=20&c=OMgtb2K-KloQwpcp4evnQ4XOTNvd7KERpL8x-o910Mk=" alt="Image 5">
            <img class="i6" src="https://media.istockphoto.com/id/537523980/vi/anh/salad-t%C6%B0%C6%A1i-bay-l%C3%AAn.jpg?s=2048x2048&w=is&k=20&c=mgLsAMjyLx4nyZxnUu5TEwILoVs0Gk9uMwuPXJC3i34=" alt="Image 6">
          </div>
        </div>
        <div class="banner-text">
          <h1>Quality Ingredients</h1>
          <p>We use only the best ingredients to make one-of-a-kind food for our customers</p>
          <a href="#" class="btnn" id="shop-now-btnn">Shop Now</a>
        </div>
      </div>
    </section>
    
    <br><br><br>
    <section id="products" class="page2">
      <h2>Our Products</h2>
      <div class="horizontal-scroll-container">
        <div class="product">
          <div class="product-image">
            <img src="/Eatclean/src/main/resources/static/img/pic1.jpg" alt="Product 1">
            <div class="add-to-cart">
              <img src="/Eatclean/src/main/resources/static/img/cart-icon.png" alt="Cart Icon">
            </div>
          </div>
          <div class="product-info">
            <h3>Product 1</h3>
            <p>Description of Product 1.</p>
            <a href="#">Add to Cart</a>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="/Eatclean/src/main/resources/static/img/pic2.jpg" alt="Product 2">
            <div class="add-to-cart">
              <img src="/Eatclean/src/main/resources/static/img/cart-icon.png" alt="Cart Icon">
            </div>
          </div>
          <div class="product-info">
            <h3>Product 2</h3>
            <p>Description of Product 2.</p>
            <a href="#">Add to Cart</a>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="/Eatclean/src/main/resources/static/img/pic3.jpg" alt="Product 3">
            <div class="add-to-cart">
              <img src="/Eatclean/src/main/resources/static/img/cart-icon.png" alt="Cart Icon">
            </div>
          </div>
          <div class="product-info">
            <h3>Product 3</h3>
            <p>Description of Product 3.</p>
            <a href="#">Add to Cart</a>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="/Eatclean/src/main/resources/static/img/pic1.jpg" alt="Product 3">
            <div class="add-to-cart">
              <img src="/Eatclean/src/main/resources/static/img/cart-icon.png" alt="Cart Icon">
            </div>
          </div>
          <div class="product-info">
            <h3>Product 3</h3>
            <p>Description of Product 3.</p>
            <a href="#">Add to Cart</a>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="/Eatclean/src/main/resources/static/img/pic2.jpg" alt="Product 3">
            <div class="add-to-cart">
              <img src="/Eatclean/src/main/resources/static/img/cart-icon.png" alt="Cart Icon">
            </div>
          </div>
          <div class="product-info">
            <h3>Product 3</h3>
            <p>Description of Product 3.</p>
            <a href="#">Add to Cart</a>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="/Eatclean/src/main/resources/static/img/pic3.jpg" alt="Product 3">
            <div class="add-to-cart">
              <img src="/Eatclean/src/main/resources/static/img/cart-icon.png" alt="Cart Icon">
            </div>
          </div>
          <div class="product-info">
            <h3>Product 3</h3>
            <p>Description of Product 3.</p>
            <a href="#">Add to Cart</a>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="/Eatclean/src/main/resources/static/img/pic1.jpg" alt="Product 3">
            <div class="add-to-cart">
              <img src="/Eatclean/src/main/resources/static/img/cart-icon.png" alt="Cart Icon">
            </div>
          </div>
          <div class="product-info">
            <h3>Product 3</h3>
            <p>Description of Product 3.</p>
            <a href="#">Add to Cart</a>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="/Eatclean/src/main/resources/static/img/pic2.jpg" alt="Product 3">
            <div class="add-to-cart">
              <img src="/Eatclean/src/main/resources/static/img/cart-icon.png" alt="Cart Icon">
            </div>
          </div>
          <div class="product-info">
            <h3>Product 3</h3>
            <p>Description of Product 3.</p>
            <a href="#">Add to Cart</a>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="/Eatclean/src/main/resources/static/img/pic3.jpg" alt="Product 3">
            <div class="add-to-cart">
              <img src="/Eatclean/src/main/resources/static/img/cart-icon.png" alt="Cart Icon">
            </div>
          </div>
          <div class="product-info">
            <h3>Product 3</h3>
            <p>Description of Product 3.</p>
            <a href="#">Add to Cart</a>
          </div>
        </div>
      </div>
    </section>

<footer class="footer">
    <a href="">EATCLEAN SHOP © 2023</a>
    <a href="">PRIVACY POLICY</a>
    <a href="">SUPPLIERS</a>
</footer>


<script th:src="@{/static/script.js}"></script>
</body>
</html>