<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1">
    <title>Login </title>
    <link rel="stylesheet" type="text/css"  th:href="@{/static/css/signup.css}">
    <link rel="stylesheet"
     href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="main-box">
        <h1>Register</h1>
        <form th:action="@{/signup}" th:object="${user}" method="post">
          <div class="input-box">
            <span class="icon"><i class='bx bxs-user-account'></i></span>
            <input type="text" th:field="*{name}"  name="name" required>
            <label>Name</label>
          </div>
          <div class="input-box">
            <span class="icon"><i class='bx bxs-envelope'></i></span>
            <input type="email" th:field="*{email}" name="email" required>
            <label>Email</label>
          </div>
          <div class="input-box">
            <span class="icon"><i class='bx bxs-user-account'></i></span>
            <input type="text"  name="username" required>
            <label>Usename</label>
          </div>
          <div class="input-box">
            <span class="icon"><i class='bx bxs-lock-alt'></i></span>
            <input type="password" name="password" required>
            <label>Password</label>
          </div>
          <p style="font-size: 12px;">By clicking Register, you agree on our <a href="#">terms and condition</a>.</p>
          <button type="submit" class="btn">Signup</button>
        </form>
      </div>
    </div>
  </body>
</html>